circle {
    stroke: black;
    stroke-width: 1;
    opacity: 0.6;
}

line {
    stroke: black;
    stroke-width: 1;
}

.winter-storm-freeze {
    fill: #ccc;
}

.drought-wildfire {
    fill: #ffffd9;
}

.flooding {
    fill: #41b6c4;
}

.tropical-cyclone {
    fill: #081d58;
}

.severe-storm {
    fill: #c7e9b4;
}